body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.container{
    background-color: peachpuff;
    text-align: center;
    margin: 120px auto 0;
    width: 620px;
    min-height: 300px;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.container h2{
    color: brown;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 3px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    margin-bottom: 6px;
    font-size: 14px;
    color: rgb(66, 61, 61);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
}
#inp-task,#priority-select,#category-select,#date-input{
    width:300px;
    display: block;
    padding:4px;
    margin: 8px auto;
    border: none;
    outline: none;
    text-align: center;
}
#add-btn{
    margin-top: 10px;
    padding: 6px;
    width: 150px;
    background-color: brown;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 0px rgba(154, 21, 21, 0.2);
    transition: 0.25s;
}
#add-btn:hover{
    background-color:  rgb(188, 102, 102);
    color: black;
    box-shadow: none;
}
input:focus, select:focus{
    border: 1px solid brown;
}
.task-div{
    border: 1px solid brown;
    width: 400px;
    margin: 10px auto ;
    background-color: white;
    border-radius: 5px;
    color: brown;
}
.delete-btn{
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: peachpuff;
    font-weight: 600;
    color: brown;
    transition: 0.25s;
}
.delete-btn:hover{
    background-color:rgb(225, 204, 184);
    opacity: 0.7;
    
}
.completed {
    text-decoration: line-through;
    color: rgb(74, 200, 74);
}
#checkbox{
    margin-top: 10px;
    margin-bottom: 0;
}

